<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body" id='address_rooms'>
        <%- @rooms.each do |room| %>
          <%= room %>
        <% end %>
      </div>
    </div>
  </div>
</div>